*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

.container{
    background-color: var(--body);
    color: var(--font);
    min-width: 100vw;
    min-height: 100vh;
    padding:  10rem 25%;
    font-size:18px;
}

